# в каком режиме будет запущено приложение. Если в режиме дебага, то DEBUG=1, если выкатываем в пром, то DEBUG=0
DEBUG=1

# секретный ключ для работы django-приложеня
SECRET_KEY='very_strong_key!'

DJANGO_SETTINGS_MODULE=app.storage.settings.base

# максимальное количество запросов, после которых кэш устаревает
CACHE_MAX_REQUESTS=10

# максимальное время жизни кэша (указывается в секундах)
CACHE_TIMEOUT=30

DB_HOST=storage_db
DB_PORT=5432
DB_NAME=storage
DB_USER=postgres
DB_PASSWORD=StrongPass

POSTGRES_USER=postgres
POSTGRES_PASSWORD=StrongPass
POSTGRES_DB=storage

DATABASE=postgres
